{% extends 'base.html' %}
{% block content %}
<h1>zyramarket</h1>

<h5>App_names: </h5>
<p>{{ app_store }}<p>

<h5>Name: </h5>
<p>{{ name }}<p>

<h5>Class: </h5>
<p>{{ class }}<p>

<h5>Stock: </h5>
<p>{{ stock }}<p>

{% if not product_entries %}
<p>Belum ada product pada zyramarket</p>
{% else %}
<table>
    <tr>
    <th>Name</th>
    <th>Price</th>
    <th>Description</th>
    <th>Stock</th>
    </tr>

    {% comment %} Berikut cara memperlihatkan product di bawah baris ini 
    {% endcomment %} 
    {% for product_entry in product_entries %}
    <tr>
    <td>{{product_entry.name}}</td>
    <td>{{product_entry.price}}</td>
    <td>{{product_entry.description}}</td>
    <td>{{product_entry.stock}}</td>
    </tr>
    {% endfor %}
</table>
{% endif %}

<br />

<a href="{% url 'main:create_product' %}">
    <button>Add New product Entry</button>
</a>

<a href="{% url 'main:logout' %}">
    <button>Logout</button>
</a>

<h5>Sesi terakhir login: {{ last_login }}</h5>

{% endblock content %}

